<h1>Список товаров</h1>
<input type="button" value="Добавить" class="btn btn-default"/>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Цена</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>
                {{p.name}}
            </td>
            <td>
                {{p.description}}
            </td>
            <td>
                {{p.price}}
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

