<h1>Список товаров</h1>
<a href="/Home/NewProduct" class="btn btn-default">Создать продукт</a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Цена</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>
                {{p.name}}
            </td>
            <td>
                {{p.description}}
            </td>
            <td>
                {{p.price | currency:'RUB':'symbol-narrow'}}
            </td>
            <td>
                <button class="btn btn-default" (click)="deleteProducts(p.productID)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>

